@import './variables.scss';

@import '~@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
}

a {
  text-decoration: none;
  color: map-get($colours, dark);
  &:hover {
    color: map-get($colours, grey);
  }
}

header {
  display: flex;
  flex-direction: column;
  gap: 0;
  ul {
    margin: 0;
    li {
      padding: 1rem map-get($margins, small);
      @include respond-to(small) {
        padding: map-get($margins, medium);
      }
      text-align: center;
      background-color: map-get($colours, light);
      a {
        color: map-get($colours, light);
      }
      &:hover {
        background-color: map-get($colours, light);
        color: map-get($colours, light);
        a {
            color: map-get($colours, light);
        }
      }
    }
  }
}

h1 {
  font-size: 3em;
  margin: 0;
  padding: 0;
  line-height: 2rem;
}

h2 {
  margin: 0;
  font-size: 2em;
  @media screen and (min-width: 768px) {
		font-size: 3em;
	}
  line-height: 2rem;
}
h3 {
  margin: 0;
  font-size: 1.25em;
}
h4 {
  font-size: 1.15em;
}

ul {
  padding: 0;
  list-style: none;
}

footer {
  background-color: map-get($colours, dark);
  color: map-get($colours, light);
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    a, button {
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }
    a, button {
      color: map-get($colours, light);
      &:hover {
        color: map-get($colours, grey);
      }
    }
    button {
      padding: 0;
      background-color: map-get($colours, dark);
      cursor: pointer;
      i {
        font-size: 1rem;
      }
    }
  }
}