@import './variables.scss';

@font-face {
	font-family: "Roboto";
	src: url("/fonts/Roboto-Regular.ttf");
}

.headerItems {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-family: "Roboto";
	gap: 0.5rem;
	font-size: 1.25rem;
}

.content {
	color: #fff;
	font-family: "Roboto";
	margin: map-get($margins, small);
	@include respond-to(small) {
		margin: map-get($margins, medium);
	}
	@include respond-to(medium) {
		margin: map-get($margins, xlarge);
	}
}

.intro {
	margin: map-get($margins, small);
	margin-top: 1rem;
	@include respond-to(medium) {
		margin: map-get($margins, medium);
	}
}

.menu {
	border-bottom: solid 3px map-get($colours, secondary);
	background-color: map-get($colours, tertiary);
	opacity: $opacity;
	color: #fff;
	padding: 0.5rem;
	&:hover {
		cursor: pointer;
		background-color: map-get($colours, primary);
	}
}

.collection {
	.titleBar {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding: map-get($margins, small);
		background-color: map-get($colours, tertiary);
		opacity: $opacity;
		@include respond-to(small) {
			padding: map-get($margins, medium);
		}
		h2 {
			word-break: keep-all;
		}
	}
	.paintings {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 1rem;
		column-gap: 1rem;
		margin: map-get($margins, small);
		@include respond-to(small) {
			margin: map-get($margins, medium);
		}
		@media screen and (min-width: 600px) {
			grid-template-columns: 1fr 1fr;
		}
		@media screen and (min-width: 750px) {
			column-gap: 2rem;
			grid-template-columns: 1fr 1fr 1fr;
		}
		li {
			background-color: #eee;
			border-radius: 0.5rem;
			padding: 0.5rem;
			color: map-get($colours, primary);
			justify-self: center; 
			align-self: end;
			display: flex;
			flex-direction: column;
			align-items: center;
			font-family: "Microgramma";
			a {
				color: map-get($colours, primary);
				position: relative;
			}
			&:hover {
				cursor: pointer;
				background-color: #ddd;
			}
			p {
				word-wrap: normal;
				padding: 0 1rem;
				font-size: 0.8rem;
			}
			img {
				max-width: 100%;
			}
		}
	}
	.loadMore {
		display: flex;
		justify-content: center;
		margin-top: 2rem
	}
}

.collectionsList {
	display: flex;
	background-color: map-get($colours, primary);
	justify-content: space-evenly;
	margin: 0;
	li {
		flex: 0 1 33%;
		text-align: center;
		padding: 0.5rem;
		font-family: "Microgramma";
		&:hover {
			cursor: pointer;
			background-color: map-get($colours, secondary);
		}
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
	}
}

.painting {
	.titleBar {
		display: flex;
		flex-direction: column;
		padding: map-get($margins, small);
		background-color: map-get($colours, secondary);
		opacity: $opacity;
		@include respond-to(small) {
			padding: map-get($margins, medium);
		}
		h2 {
			text-transform: capitalize;
			color: #fff;
		}
		h3 {
			align-self: flex-end;
		}
	}
	.frame {
		border: solid 4px map-get($colours, grey);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0.25rem;
		img {
			max-width: 100%;
		}
	}
	.description {
		background-color: map-get($colours, tertiary);
		padding: map-get($margins, small);
		opacity: $opacity;
		@include respond-to(small) {
			padding: map-get($margins, medium);
		}
		margin: 0;
		color: #fff;
		font-family: "Roboto";
		text-align: center;
	}
}

.aboutIntro, .aboutContent {
	color: #fff;
	font-family: "Roboto";
	padding: map-get($margins, small);
	@include respond-to(small) {
		padding: map-get($margins, medium);
	}
	@include respond-to(medium) {
		padding: map-get($margins, xlarge);
	}
}
.aboutIntro {
	background-color: map-get($colours, secondary);
	opacity: $opacity;
}
.aboutContent {
	background-color: map-get($colours, tertiary);
	p {
		margin-top: 0;
		font-size: 1.15rem;
	}
	img {
		float: left;
		margin: 0 1rem 1rem 0;
		width: 50%;
		height: 50%;
	}
}