$breakpoints: (
  small: 480px,
  medium: 768px,
  large: 1024px,
  xlarge: 1200px
);

$margins: (
  small: 0.25rem,
  medium: 1rem,
  large: 2rem,
  xlarge: 4rem
);

$colours: (
  primary: #48f,
  secondary: #4b8,
  tertiary: #b84,
  grey: #ccc
);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$breakpoint}.";
  }
}